<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="static/css20224-06-14.css">
</head>
<body>    
      <h1><a href= dong.html>FAKEMEGA</a></h1>
      <h1><img
             src="https://img.megabox.co.kr/SharedImg/2024/07/08/e0oHm7aPEoT65vDMygGH8496N1gwbgEC_600.jpg"
             style="display: block; margin: 0 auto; width:400px; height:600px;">
             <h1>
                  <div class="card">
                        <div class="card-body">
                              붕괴 위기의 공항대교,
                              생존자 전원이 타겟이 되었다.
                              
                              기상 악화로 한치 앞도 구분할 수 없는 공항대교.
                              연쇄 추돌 사고와 폭발로 붕괴 위기에 놓인 다리 위에 사람들이 고립된다.
                              이 때 극비리에 이송 중이던 '프로젝트 사일런스'의 군사용 실험견들이 풀려나고
                              모든 생존자가 그들의 타겟이 되어 무차별 공격당하는 통제불능의 상황이 벌어진다.
                              
                              공항으로 향하던 안보실 행정관(이선균)부터
                              사고를 수습하려고 현장을 찾은 렉카 기사(주지훈),
                              그리고 실험견들을 극비리에 이송 중이던 '프로젝트 사일런스'의 책임연구원(김희원)까지.
                              
                              사상 최악의 연쇄 재난 발생,
                              살아남기 위한 극한의 사투가 시작된다!
                        </div>
                      </div>
</body>
</html>