<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="static/css20224-06-14.css">
</head>
<body>
      <h1><a href= dong.html>FAKEMEGA</a></h1>
      <select class="custom-select custom-select-lg mb-3">
            <option selected>예매인원을 선택하세요</option>
            <option value="1">1명</option>
            <option value="2">2명</option>
            <option value="3">3명</option>
          </select>      
</body>